<div class="group-create-steps">
    <ul>
        <li class="active">Registration</li>
        <li>Tier Selection</li>
        <li>Payment</li>
    </ul>
    <div class="progress-bar">
        <img class="left" src="images/icons/progress-empty.png">
        <img class="center" src="images/icons/progress-fill.png">
        <img class="right" src="images/icons/progress-empty.png">
    </div>
</div>

<section class="group-creation creation2 padding-10">
    <h1>Choose your package</h1>
    <div class="tier-selection-header">
        <span><i>Select the package suits your needs. You can cancel your subscription at any time.</i></span>
        <a class="option active">Monthly</a>
        <a class="option">Annual (Save up to 25%)</a>
    </div>
    <div class="subscriptions">
        <div class="subscription">
            <div class="membership">
                <span class="type">Free</span>
                <span class="price">/month</span>
            </div>
            <div class="info">
                <fieldset>
                    <img src="images/icons/membership1.png">
                    <span class="title">Get Started</span>
                    <span><i>Core Features for free for as long as you want</i></span>
                    <span class="value"><b>Audience: Unlimited</b></span>
                    <span class="value"><b>Size: Unlimited</b></span>                    
                </fieldset>
                <fieldset>
                    <h4>INCLUDED FEATURES:</h4>
                    <ul>
                        <li>Push Polling</li>
                        <li>Push Petitions</li>
                        <li>Push Discussions</li>
                        <li>Push Announcements</li>
                        <li>Push Fundraisers</li>
                        <li>Push Crowdfunding</li>
                        <li>Push Events</li>
                        <li>Basic Analytics</li>
                        <li>Invites by E-mail</li>
                    </ul>
                </fieldset>
                <fieldset>
                    <h4>A LA CARTE:</h4>
                    <ul>
                        <li>Petition lists</li>
                        <li>Targeted Fundraising</li>
                        <li>Targeted Petition Invites</li>
                        <li>E-mail Verification</li>
                    </ul>
                </fieldset>
                <a class="more-btn">LESS DETAILS<i class="fa fa-caret-up"></i></a>
            </div>
            <button class="btn btn-default select-btn">SELECT PACKAGE</button>
        </div>
        <div class="subscription active">
            <div class="membership">
                <span class="type">$19</span>
                <span class="price">/month</span>
            </div>
            <div class="info">
                <fieldset>
                    <img src="images/icons/membership2.png">
                    <span class="title">Silver</span>
                    <span><i>Group Management for better organization and control</i></span>
                    <span class="value"><b>Audience: Not Business</b></span>
                    <span class="value"><b>Size: Under 1000 users</b></span>                    
                </fieldset>
                <fieldset>
                    <h4>INCLUDED FEATURES:</h4>
                    <ul>
                        <li>All Free Features +</li>
                        <li>Extended Profiles</li>
                        <li>Optional Fee to Join Group</li>
                        <li>Membership Controls</li>
                        <li>User Post Controls</li>
                        <li>Sub-Groups</li>
                    </ul>
                </fieldset>
                <fieldset>
                    <h4>ADVANCED FEATURES:</h4>
                    <ul>
                        <li>Custom Thank Yous</li>
                        <li>Custom Group Invites</li>
                        <li>Advanced Alerts</li>
                    </ul>
                </fieldset>
                <fieldset>
                    <ul>
                        <li>Discounted a la carte</li>
                        <li>Increased Push Petitions</li>
                    </ul>
                </fieldset>
                <a class="more-btn">LESS DETAILS<i class="fa fa-caret-up"></i></a>
            </div>
            <button class="btn btn-default select-btn">SELECT PACKAGE</button>
        </div>
        <div class="subscription">
            <div class="membership">
                <span class="type">$39</span>
                <span class="price">/month</span>
            </div>
            <div class="info">
                <fieldset>
                    <img src="images/icons/membership3.png">
                    <span class="title">Gold</span>
                    <span><i>Advanced Analytics for greater insights and understanding</i></span>
                    <span class="value"><b>Audience: Unlimited</b></span>
                    <span class="value"><b>Size: Under 5000 users</b></span>                    
                </fieldset>
                <fieldset>
                    <h4>INCLUDED FEATURES:</h4>
                    <ul>
                        <li>All Silver Features +</li>
                        <li>Sub-Groups</li>
                        <li>Profile-based Reports</li>
                        <li>Filters, Sort, & Pivots</li>
                        <li>Google Maps Reports</li>
                        <li>Word Clouds</li>
                        <li>More Charts & Graphs</li>
                    </ul>
                </fieldset>
                <fieldset>
                    <h4>1 ADVANCED INTEGRATION:</h4>
                    <ul>
                        <li>Dropbox</li>
                        <li>Google Drive</li>
                    </ul>
                </fieldset>
                <fieldset>
                    <ul>
                        <li>Discounted a la carte</li>
                        <li>Increased Push Petitions</li>
                    </ul>
                </fieldset>
                <a class="more-btn">LESS DETAILS<i class="fa fa-caret-up"></i></a>
            </div>
            <button class="btn btn-default select-btn">SELECT PACKAGE</button>
        </div>
        <div class="subscription">
            <div class="membership">
                <span class="type">$125</span>
                <span class="price">/month</span>
            </div>
            <div class="info">
                <fieldset>
                    <img src="images/icons/membership4.png">
                    <span class="title">Platinum</span>
                    <span><i>Advanced Integrations for extraordinary synergy</i></span>
                    <span class="value"><b>Audience: Not Business</b></span>
                    <span class="value"><b>Size: Unlimited</b></span>                    
                </fieldset>
                <fieldset>
                    <h4>INCLUDED FEATURES:</h4>
                    <ul>
                        <li>All Gold Features +</li>
                        <li>National Voter File</li>
                        <li>Salesforce.com</li>
                        <li>Dropbox</li>
                        <li>Google Drive</li>
                    </ul>
                </fieldset>
                <fieldset>
                    <ul>
                        <li>Discounted a la carte</li>
                        <li>Increased Push Petitions</li>
                    </ul>
                </fieldset>
                <a class="more-btn">LESS DETAILS<i class="fa fa-caret-up"></i></a>
            </div>
            <button class="btn btn-default select-btn">SELECT PACKAGE</button>
        </div>
        <div class="subscription">
            <div class="membership">
                <span class="type">Call us</span>
                <span class="price">908.433.5678</span>
            </div>
            <div class="info">
                <fieldset>
                    <img src="images/icons/membership5.png">
                    <span class="title">Commercial</span>
                    <span><i>Enterprise-grade for workplace engagement</i></span>
                    <span class="value"><b>Audience: Business Only</b></span>
                    <span class="value"><b>Size: Unlimited</b></span>                    
                </fieldset>
                <fieldset>
                    <h4>INCLUDED FEATURES:</h4>
                    <ul>
                        <li>All Platinum Features +</li>
                        <li>Unlimited Sub-Groups</li>
                        <li>Behind Firewall Hosting</li>
                        <li>LDAP Integration</li>
                        <li>Behind Firewall Hosting</li>
                        <li>Complete Data Porting</li>
                    </ul>
                </fieldset>
                <fieldset>
                    <ul>
                        <li>Discounted a la carte</li>
                        <li>Increased Push Petitions</li>
                    </ul>
                </fieldset>
                <a class="more-btn">LESS DETAILS<i class="fa fa-caret-up"></i></a>
            </div>
            <button class="btn btn-default select-btn">SELECT PACKAGE</button>
        </div>
    </div>
    <p class="note">* feature is limited in this package</p>
    <p class="note">^ we charge you low processing fees for each payment collected</p>
</section>

<div class="skip-buttons">
    <button class="btn btn-default prev-btn" ui-sref="groups-create"><i class="fa fa-caret-left"></i>Back to Registration</button>
    <button class="btn btn-default next-btn" ui-sref="groups-create-step3">Next - Proceed to Payment<i class="fa fa-caret-right"></i></button>
</div>
