@charset "utf-8";

/* CSS Document */



a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp { border: 0; margin: 0; padding: 0; font-size: 100%; outline:none;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}



table { border-collapse: collapse; border-spacing: 0;}



@font-face {

    font-family: 'GothamBook';

    src: url('../fonts/GothamBook.eot');

    src: url('../fonts/GothamBook.eot') format('embedded-opentype'),

         url('../fonts/GothamBook.woff2') format('woff2'),

         url('../fonts/GothamBook.woff') format('woff'),

         url('../fonts/GothamBook.ttf') format('truetype'),

         url('../fonts/GothamBook.svg#GothamBook') format('svg');

}





@font-face {

    font-family: 'GothamBold_21010';

    src: url('../fonts/GothamBold_21010.eot');

    src: url('../fonts/GothamBold_21010.eot') format('embedded-opentype'),

         url('../fonts/GothamBold_21010.woff2') format('woff2'),

         url('../fonts/GothamBold_21010.woff') format('woff'),

         url('../fonts/GothamBold_21010.ttf') format('truetype'),

         url('../fonts/GothamBold_21010.svg#GothamBold_21010') format('svg');

}







body { width:100%; word-wrap:break-word; font-family: 'GothamBook'; background: #f0f3f5;}


a:hover { text-decoration:none;}

a:focus { text-decoration:none; outline:none;}

a:active { text-decoration:none; outline:none;}



.width-content { max-width:1170px; margin:0 auto;margin-bottom: 21px;}



.left { float:left;}



.right { float:right;}



.last { padding-right:0; border-right:none;}

img { max-width: 100%;}

ul li {list-style: none;}

.icon { background: url(../images/sprite.png) no-repeat;}

header {

	background: #f0f3f5; padding: 21px 0;

}



.headerSearchInput {margin: 7px 0 0 23px;position: relative;}

.headerSearchInput input { width: 216px;height: 35px;border: 1px solid #dbdee0;padding: 10px; font-size: 12px; color: #8e9ba2;

	-moz-border-image: -moz-linear-gradient(top, #c2c4c6 0%, #e9e9e9 100%);

    -webkit-border-image: -webkit-linear-gradient(top, #c2c4c6 0%, #e9e9e9 100%);

    border-image: linear-gradient(to bottom, #c2c4c6 0%, #e9e9e9 100%);

    border-image-slice: 1}

.headerSearchInput i.searchIcon { background-position: 0 0; width: 17px;height: 17px; display: block;position: absolute; right: 10px; top:9px;cursor: pointer;}

i.communityIcon {background-position: -50px 0px; width: 22px;height: 19px; display: inline-block; vertical-align:middle;}

i.socialActivityIcon {background-position: -100px 0; width: 20px;height: 20px; display: inline-block; vertical-align:middle;}

i.messagesIcon {background-position: -150px 0; width: 20px;height: 15px; display: inline-block; vertical-align:middle;}

.navbarHeader { margin: 0 0 0 40px;}

.navbarHeader ul.nav.navbar-nav li:hover i.communityIcon, .navbarHeader ul.nav.navbar-nav li.active i.communityIcon {background-position: -50px -50px;}

.navbarHeader ul.nav.navbar-nav li:hover i.socialActivityIcon, .navbarHeader ul.nav.navbar-nav li.active i.socialActivityIcon {background-position: -100px -50px;}

.navbarHeader ul.nav.navbar-nav li:hover i.messagesIcon, .navbarHeader ul.nav.navbar-nav li.active i.messagesIcon {background-position: -150px -50px;}



.navbarHeader ul.nav.navbar-nav li.badgeColor i.communityIcon {background-position: -50px -50px;}

.navbarHeader ul.nav.navbar-nav li.badgeColor i.socialActivityIcon {background-position: -100px -50px;}

/* .navbarHeader ul.nav.navbar-nav li.badgeColor i.messagesIcon {background-position: -150px -50px;} */



.navbarHeader ul.nav.navbar-nav li a i.icon { margin: 0 2px 0 0;}

.navbarHeader ul.nav.navbar-nav li {font-size: 14px;}

.navbarHeader ul.nav.navbar-nav li a { color: #708186;}

.navbarHeader ul.nav.navbar-nav li:hover > a, .navbarHeader ul.nav.navbar-nav li.active > a { color: #54c5ff;}



.navbarHeader ul.nav.navbar-nav li ul li { font-size: 12px; color: #708186;padding: 0 ;}

.navbarHeader ul.nav.navbar-nav li ul li:hover { background: #f0f3f5;}

.navbarHeader ul.nav.navbar-nav li ul li a { color: #708186; display: block;padding: 10px 15px;}

.navbarHeader ul.nav.navbar-nav li ul li:hover a { color: #708186;}



.navbarHeader ul.nav.navbar-nav li ul li i.calIcon { background-position: -200px 0; width: 12px; height: 13px; display: inline-block; vertical-align: middle;margin:0 3px 0 0;}

.navbarHeader ul.nav.navbar-nav li ul li i.cardIcon { background-position: -250px 0; width: 14px; height: 13px; display: inline-block; vertical-align: middle;margin:0 3px 0 0;}

.navbarHeader ul.nav.navbar-nav li ul li i.alertIcon { background-position: -300px 0; width: 12px; height: 13px; display: inline-block; vertical-align: middle;margin:0 3px 0 0;}

.navbarHeader ul.nav.navbar-nav li ul li i.ImpNotifIcon { background-position: -350px 0; width: 12px; height: 13px; display: inline-block; vertical-align: middle;margin:0 3px 0 0;}



.menuDropTriangle { position: absolute; top: -16px; left: 15px;}

.seeMore { background-color: #f0f3f5;  text-align: center; font-size: 12px; color: #708186; border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;}

.seeMore a{ display: block; padding: 10px 0;}

.myProfileDropdown {font-size: 14px;color: #708186; margin: 10px 0 0;}

.myProfileDropdown img { margin: 0 3px 0 0;}

.myProfileDropdown a {color: #708186;}

.myProfileDropdown i.caret { border-top:4px solid #54c5ff; margin: 0 0 0 2px;}



.myProfileDropdown .dropdown-menu { min-width: 150px; left: -11px; top: 40px;}

.myProfileDropdown .dropdown-menu ul li {font-size: 12px; color: #708186;padding: 0 ;}

.myProfileDropdown .dropdown-menu ul li:hover { background: #f0f3f5;}

.myProfileDropdown .dropdown-menu ul li { color: #708186; display: block;padding: 10px 15px;}

.myProfileDropdown .dropdown-menu ul li:hover { color: #708186;cursor: pointer;}



.myProfileDropdown .dropdown-menu ul li i.userIcon { background-position: -800px 0;width: 11px; height: 11px; display: inline-block; vertical-align: middle;margin:0 3px 0 0;}

.myProfileDropdown .dropdown-menu ul li i.settingIcon { background-position: -850px 0;width: 11px; height: 11px; display: inline-block; vertical-align: middle;margin:0 3px 0 0;}

.myProfileDropdown .dropdown-menu ul li i.logoutIcon { background-position: -900px 0;width: 11px; height: 11px; display: inline-block; vertical-align: middle;margin:0 3px 0 0;}



.myProfileDropdownImg {background: #fff; border: 1px solid #ccc; display: inline-block; font-size: 0; vertical-align: middle;}

.myProfileDropdownImg img { display: block; font-size: 0; margin: 0;width: 30px;}

.banner { position: relative;margin: 71px 0 0 0;}

.followBtn {position: absolute; bottom: 15px; left: 50%; margin: 0 0 0 420px; width: 150px; height: 40px; background-color: #54c5ff; font-size: 14px;text-align: center; line-height: 40px;}

.followBtn a { color: #ffffff; display: block;}

/*.profilePic { margin: -85px 0 0; background: #fff; padding: 5px; display: inline-block; box-shadow: 0 0 3px #999; position: relative;}
*/
.profilePic {
    margin: -160px 0 0;
    background: #fff;
    padding: 5px;
    display: block;
    box-shadow: 0 0 3px #999;
    position: relative;
    width: 170px;
}

.profilePic img{
    width: 100%;
}
.profilePic .editIcon {background-position: 0px -50px; width: 17px; height: 17px; display: block;margin:0 5px 0 0; position: absolute; top: 8px; right: 5px; cursor: pointer;}

.profileTitle { font-size: 30px; color: #000066; margin: 19px 0 0;}

.profileDesc { font-size: 14px; color: #708186; margin: 10px 0 0;}

.aboutProfileDetail { margin: 30px 0 0;}

.aboutProfileDetail ul {margin: 0;}

.aboutProfileDetail ul li {	font-size: 14px; color: #708186; margin: 10px 0 0; padding: 0;}

i.greyCalendarIcon {background-position: -500px 0; width: 22px;height: 17px; display: inline-block; vertical-align: top; margin: 0 10px 0 0; text-align: center;}

i.memberIcon {background-position: -550px 0; width: 22px;height: 15px; display: inline-block; vertical-align: top; margin: 0 10px 0 0;}



.userGroup { margin: 20px 0 0;}

.userGroupDetail { margin:10px 0 0;}

.titleText { font-size: 14px; color: #708186;}

.titleText a { color: #141572; }

.profilPicList { margin: 10px 0 0;}

.profilPicList ul li { display: inline-block; margin: 0 5px 5px 0; padding: 3px;box-shadow: 0 0 3px #999;}
.profilPicList ul li:last-child{margin-left: -4px;}
.profilPicList ul li img{ width: 48px;}

.postFieldWrapper { margin: 4px 0 0; }

.tabs { margin: 30px 0 0 0;}

.tabs ul li {padding: 15px 0;display: inline-block; background: #f2f9ff; width: 143px; text-align: center;border-bottom: 1px solid #ecf3f9; font-size: 12px; color: #708186; box-shadow: 0 -1px 1px #ccc;}

.tabs ul li.active, .tabs ul li:hover { background: #fff;border-bottom: 1px solid #fff; color: #000066;}

/* .tabs ul li a { display: block;} */

.tabs ul li.active a, .tabs ul li:hover a {color: #000066;}



.tabs ul li i.pencilIcon {background-position: -450px 0; width: 15px; height: 16px; display: inline-block; vertical-align: middle;margin:0 3px 0 0;}

.tabs ul li i.paperPenIcon {background-position: -400px 0; width: 19px; height: 16px; display: inline-block; vertical-align: middle;margin:0 3px 0 0;}



.selectPlace { margin: 30px 0 0;}

.tabContainer { padding: 15px 25px; background: #ffffff; box-shadow: 0 0 2px #ccc;}



.tabContainerField { margin: 0 0 5px;}

.tabContainerField input[type="text"]{ background: #f2f1f1; border: 1px solid #e9e9e9; width: 100%; height: 35px; font-size: 12px; color: #8e9ba2; padding: 5px 10px;

-moz-border-image: -moz-linear-gradient(top, #cecece 0%, #e9e9e9 100%);

    -webkit-border-image: -webkit-linear-gradient(top, #cecece 0%, #e9e9e9 100%);

    border-image: linear-gradient(to bottom, #cecece 0%, #e9e9e9 100%);

    border-image-slice: 1;}



.tabContainerField textarea{ background: #f2f1f1; border: 1px solid #e9e9e9; width: 100%; height:63px; font-size: 12px; color: #8e9ba2; padding: 5px 10px; resize: none;

-moz-border-image: -moz-linear-gradient(top, #cecece 0%, #e9e9e9 100%);

    -webkit-border-image: -webkit-linear-gradient(top, #cecece 0%, #e9e9e9 100%);

    border-image: linear-gradient(to bottom, #cecece 0%, #e9e9e9 100%);

    border-image-slice: 1;}



.tabContainerField { position: relative;}

span.remainingWord { position: absolute; right: 10px; padding-right: 2px; bottom: 10px; font-style: italic; color: #8e9ba2; font-size: 11px; resize: none; overflow: auto;}



.remainingPetition { font-size: 12px; color: #8e9ba2; margin: 7px 0 0;}



.postSubmitBtn input[type="submit"]{ background-color: #28b74d; width: 104px; height: 35px; color: #fff; text-align: center;border-radius: 3px; border: none; font-size: 12px;}

.newsFeedContainer { padding: 15px 15px; background: #ffffff; box-shadow: 0 0 2px #ccc;}

.newsFeedImage { padding: 2px; background: #fff; border-radius: 2px; border: 1px solid #ccc;}

span.userTitleName { display: block; color: #7c8fa8; font-size: 12px; margin: 8px 0 0;text-align: center;}

.newsFeedText { width: 430px; margin: 0 0 0 18px;}

.newsFeedName { font-size: 12px; color: #798ca6;}

.newsFeedName a { color: #030366;font-family: 'GothamBold_21010';}

.newsFeedName i.chatIcon {background-position: -250px -50px; width: 21px; height: 15px; display: inline-block; vertical-align: middle;margin:0;}

.newsFeedName i.blueEditIcon {background-position: -300px -50px; width: 14px; height: 15px; display: inline-block; vertical-align: middle;margin:0;}

.newsFeedName i.answerIcon {background-position: -350px -50px; width: 19px; height: 15px; display: inline-block; vertical-align: middle;margin:0;}

.newsFeedName i.signIcon {background-position: -500px -50px; width: 17px; height: 20px; display: inline-block; vertical-align: middle;margin:0;}

.newsFeedName i.donateIcon {background-position: -550px -50px; width: 15px; height: 15px; display: inline-block; vertical-align: middle;margin:0;}

.newsFeedName i.rsvpIcon {background-position: -600px -50px; width: 15px; height: 16px; display: inline-block; vertical-align: middle;margin:0;}













.newsFeedTextContent { font-size: 12px; color: #636363; margin: 20px 0 0;}

.newsFeedTextContent a {color: #030366;font-family: 'GothamBold_21010';}

.newsActionWrapper { margin: 20px 0 0;}

.newsActionWrapper span { color: #798ca6; font-size: 12px; margin: 0 5px 0 0; cursor: pointer;}

.newsActionWrapper i.topTriangle {

	width: 0; 

	height: 0; 

	border-left: 7px solid transparent;

	border-right: 7px solid transparent;

	border-bottom: 7px solid #adb7c6;

	display: inline-block; vertical-align: middle;

}

.newsActionWrapper i.bottomTriangle {

	width: 0; 

	height: 0; 

	border-left: 7px solid transparent;

	border-right: 7px solid transparent;

	border-top: 7px solid #adb7c6;

	display: inline-block; vertical-align: middle;

}

.newsActionWrapper i.replyIcon {background-position: -600px 0; width: 20px; height: 14px; display: inline-block; vertical-align: middle;margin:0;}

.newsActionWrapper i.menuIcon {background-position: -200px -50px; width: 16px; height: 4px; display: inline-block; vertical-align: middle;margin:0;}

.newsActionWrapper i.commentIcon {background-position: -650px 0px; width: 21px; height: 21px; display: inline-block; vertical-align: middle;margin:0;}

i.shareIcon {background-position: -700px 0px; width: 19px; height: 19px; display: inline-block; vertical-align: middle;margin:0 5px 0 5px;cursor: pointer;}

i.linkIcon {background-position: -750px 0px; width: 20px; height: 20px; display: inline-block; vertical-align: middle;margin:0 5px 0 0;}

.newsActionWrapper i.upGradeIcon {background-position: -400px -50px; width: 12px; height: 12px; display: inline-block; vertical-align: middle;margin:0 5px 0 0;}

.newsActionWrapper i.downGradeIcon {background-position: -450px -50px; width: 12px; height: 12px; display: inline-block; vertical-align: middle;margin:0 5px 0 0;}





.newsCommentSection{ border-top: 1px solid #dee1e3; padding: 15px 0 0; margin: 10px 0 0; }

.replyMessageField { margin: 0 0 0 10px; width: 460px;} 

.replyMessageField textarea { width: 100%; height: 56px; resize: none; font-size: 12px; padding: 5px 10px; border: 1px solid #cecece;

    -moz-border-image: -moz-linear-gradient(top, #cecece 0%, #e9e9e9 100%);

    -webkit-border-image: -webkit-linear-gradient(top, #cecece 0%, #e9e9e9 100%);

    border-image: linear-gradient(to bottom, #cecece 0%, #e9e9e9 100%);

    border-image-slice: 1;

}

span.replyBoxRemainWord{ text-align: right; display: block;  font-size: 11px; font-style: italic; color: #8e9ba2;}



.usersReplyMessage { margin: 0 0 15px 25px;}

.usersReplyMessage .newsFeedText { width: 400px;}

.usersReplyMessage .newsFeedText .newsFeedTextContent { margin: 8px 0 0;}

.usersReplyMessage .newsFeedText .newsActionWrapper { margin: 8px 0 0;}



.viewMoreComment { background-color: #f2f9ff; padding:  10px 20px 10px 35px;}

.viewMoreCommentLink { font-size: 10px; color: #3b3f8b; cursor: pointer;}

.viewMoreCommentText { font-size: 11px; color: #798ca6;}

.viewMoreCommentLink i { color: #dbe1e6;}



.postFieldWrapperHover { border: 1px solid #54c5ff;}

.sidepanelContainer{ margin: 30px 0 0 0; box-shadow: 0 0 1px #ccc;}

.sidePanelTitle { background-color: #f2f9ff; font-size: 12px; color: #708186; padding: 15px 26px; border-top: 1px solid #f0f3f5;border-bottom: 1px solid #f0f3f5;}

.suggestionBox { padding: 20px 0 0 25px; background: #fff;}

.sidePanelDetail .suggestionBox:last-child { padding:20px 0 30px 25px; background: #fff;}

.suggestionBoxImg { padding: 2px; border: 1px solid #ccc;}

.suggestionBoxText { width: 145px; margin: 0 0 0 10px;}

.groupTitle { font-size: 12px; color: #000066; line-height: 14px;}

.groupTitle a { color: #000066;}

.memeberCount { color: #708186; font-size: 11px; margin:0;}

.joinBtn a{ background: #54c5ff; display: block; width: 74px;height: 24px; font-size: 12px; color: #ffffff; line-height: 24px; text-align: center; border-radius: 3px;}

.joinBtn i { font-size: 10px;}

.newsActionWrapper .bottomTriangleSmall {

	width: 0; 

	height: 0; 

	border-left: 4px solid transparent;

	border-right: 4px solid transparent;

	border-top: 4px solid #adb7c6;

	display: inline-block; vertical-align: middle;

}



.footer{ font-size: 11px; color: #aec2c8; margin: 10px 0 0; line-height: 20px;}

.footer a{color: #aec2c8;padding: 0;}



.mainContainer { padding-bottom: 40px;}

.dd-container{max-width: 200px;}
.dd-select{max-width: 200px;}
.dd-options{max-width: 200px;}
.dd-container img{width: 27px;}
.navbar-default .navbar-nav > li > a {background:none !important;}

.header-title {
    font-size: 24px;
    text-align: left;
    float: left;
}
.header-top-margin{margin-top: 21px;}


.modal-backdrop{height: 2000px;z-index: 1;}


.activities-list .comments .item{margin-top: 0;}
.activities-list .share-section{background-color: #fff;}


.activity-margin:first-child {margin-top: 0;}
.activity-margin{margin-top: 20px;}



.headerContent{

    position: fixed;
    z-index: 1;
    width: 100%;
    background: #f0f3f5;
    max-width: 100%;
    top: 0;
    padding: 21px 20px;
    -webkit-box-shadow:0px 1px 5px #ddd;
     -moz-box-shadow:0px 1px 5px #ddd;
     box-shadow:0px 1px 5px #ddd;
}

.headerContent-child{
    max-width: 1170px;
    margin: 0 auto;
}

.dd-desc{
    float: right;
    background-color: red;
    min-width: 17px;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
}

.dd-selected{
    padding-right: 30px;
}


.icon-magnifier{
    cursor: pointer;
}

hash-tag{
    cursor: pointer;
}


.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
}

[ng-click] {
   cursor: pointer;
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
.modal-content{
    max-height: 500px;
    overflow-y: scroll;
}
*/

.zeroclipboard-is-active:after{
    content: "copied to clipboard";
    text-transform: lowercase;
}

/* ===========================================================================
    Title: Leader Content Creation Module (Tabs)
    Author: Marcin
    Date: 2016.2.29
  ===========================================================================*/
.home-tabs.tabs ul li{
    width: 60px;
    height: 60px;
    padding: 0;
}
.home-tabs.tabs .icon { background: url(../images/icons/tab-icons.png) no-repeat;}

.home-tabs.tabs ul li i.pencilIcon {background-position: 0px 0; width: 50px; height: 50px; display: inline-block; vertical-align: middle;margin:0 3px 0 0;}
.home-tabs.tabs ul li i.paperPenIcon {background-position: -50px 0; width: 50px; height: 50px; display: inline-block; vertical-align: middle;margin:0 3px 0 0;}
.home-tabs.tabs ul li i.chartIcon {background-position: -100px 0; width: 50px; height: 50px; display: inline-block; vertical-align: middle;margin:0 3px 0 0;}
.home-tabs.tabs ul li i.chatIcon {background-position: -150px 0; width: 50px; height: 50px; display: inline-block; vertical-align: middle;margin:0 3px 0 0;}
.home-tabs.tabs ul li i.fundIcon {background-position: -200px 0; width: 50px; height: 50px; display: inline-block; vertical-align: middle;margin:0 3px 0 0;}
.home-tabs.tabs ul li i.eventIcon {background-position: -250px 0; width: 50px; height: 50px; display: inline-block; vertical-align: middle;margin:0 3px 0 0;}
.home-tabs.tabs ul li i.announIcon {background-position: -300px 0; width: 50px; height: 50px; display: inline-block; vertical-align: middle;margin:0 3px 0 0;}

.home-tabs.tabs ul li.active i.pencilIcon, .home-tabs.tabs ul li:hover i.pencilIcon {background-position: 0px -60px;}
.home-tabs.tabs ul li.active i.paperPenIcon, .home-tabs.tabs ul li:hover i.paperPenIcon {background-position: -50px -60px;}
.home-tabs.tabs ul li.active i.chartIcon, .home-tabs.tabs ul li:hover i.chartIcon {background-position: -100px -60px;}
.home-tabs.tabs ul li.active i.chatIcon, .home-tabs.tabs ul li:hover i.chatIcon {background-position: -150px -60px;}
.home-tabs.tabs ul li.active i.fundIcon, .home-tabs.tabs ul li:hover i.fundIcon {background-position: -200px -60px;}
.home-tabs.tabs ul li.active i.eventIcon, .home-tabs.tabs ul li:hover i.eventIcon {background-position: -250px -60px;}
.home-tabs.tabs ul li.active i.announIcon, .home-tabs.tabs ul li:hover i.announIcon {background-position: -300px -60px;}

.tabContainerField{
    color: #636363;
}

.tabContainerField h5{
    text-align: left;
    margin: 10px 0;
    color: #636363;
}
.tabContainerField h5 span{
    float: right;
    color: #8e9ba2;
    font-size: 12px;
}
.tabContainerField input{
    margin-bottom: 10px;
}
.attach-wrap{
    margin-top: 50px;
}
.filter-wrap{
    width: 100%;
    height: 40px;
    display: inline-block;
    font-size: 12px;
    color: #636363;
}
.public-link{
    color: #636363;
    font-size: 12px;
    height: 100%;
    line-height: 40px;
}
.public-link img{
    margin-right: 5px;
}
.public-link:hover, .public-link.active{
    color: #54c5ff;
}
.filter-wrap .drop-down{
    float: right;
}
.filter-wrap .drop-down button.btn{
    padding: 10px;
    border-radius: 0;
}
.attachments{
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}
.attach-title{
    float: left;
    width: 100px;
    color: #636363;
    font-size: 14px;
}
.seperate-line{
    border-top: 1px solid #efeff4;
    width: calc(100% - 100px);
    float: left;
    margin-top: 10px;
}
.attachments ul{
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}
.attachments ul li{
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}
.attachments ul li img{
    float: left;
}
.attachments ul li .attach-info{
    width: calc(100% - 70px);
    float: left;
    margin-left: 10px;
}
.attach_name{
    color: #636363;
    font-size: 14px;
    float: left;
    margin-top: 5px;
}
.attach-info .change{
    clear: both;
    float: left;
    color: #10106f;
    font-size: 12px;
}
.attach-info .remove{
    float: left;
    color: #10106f;
    font-size: 12px;
}
.attachments p{
    background: #f2f1f1;
    padding: 10px;
    width: 100%;
    color: #636363;
    font-size: 16px;
    min-height: 100px;
    border: 1px solid #eae5e5;
}
.add_buttons{
    float: left;
    margin-top: 20px;
}
.add_buttons .btn{
    border-right: 1px solid #e7e5f1;
    color: #636363;
    font-size: 12px;
}
.add_buttons .btn img{
    margin-right: 5px;
}
.add_buttons .btn span{
    position: relative;
    top: 2px;
    font-weight: bold;
}
.add_buttons .btn:last-child{
    border-right:none;
}
.postSubmitBtn{
    margin-top: 10px;
}
.answers, .fund-answers{
    width: 100%;
    display: inline-block;
    margin-top: 15px;
}
.answers .add-answer, .fund-answers .add-answer{
    color: #54c5ff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}
.answers .add-answer i, .fund-answers .add-answer i{
    margin-right: 5px;
}
.answers input.answer{
    width: calc(100% - 40px);
    float: left;
    height: 40px;
}
.fund-answers input.answer{
    width: calc(100% - 160px);
    float: left;
    height: 40px;
}
.fund-answers input.amount{
    width: 100px;
    float: left;
    height: 40px;
    margin-right: 20px;
}
.answers .remove-answer, .fund-answers .remove-answer{
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
}
.answers .remove-answer i, .fund-answers .remove-answer i{
    line-height: 40px;
    color: #8e9ba2;
}
.tabContainerField .note{
    font-size: 12px;
    color: #8e9ba2;
}
label.crowdfunding, label.custom{
    margin: 10px 0;
    font-size: 12px;
}
label.crowdfunding.selected {
    color: #54c5ff;
}
label.crowdfunding input, label.custom input{
    margin-right: 5px;
    margin-bottom: 5px;
}
.tabContainerField .info{
    margin-top: 20px;
}
.tabContainerField .info .fields{
    width: 150px;
    float: left;
    clear: both;
    font-size: 14px;
    line-height: 35px;
}
.tabContainerField .info .values{
    float: left;
    width: 150px;
    height: 35px;
}
.tabContainerField .info .calendar{
    background: url('../images/icons/calendar.png') no-repeat right 10px center;
}
.tabContainerField .info .btn-info{
    height: auto;
}
.tabContainerField .info .dropdown-menu{
    padding: 10px;
}
.tabContainerField .info .dropdown-menu th{
    vertical-align: top;
}
.timepicker{
    border: 1px solid #eae5e5;
    margin-left: 20px;
    position: relative;
}
.timepicker select{
    width: 100%;
    height: 100%;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    padding: 0 5px;
}
.timepicker::after{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0px;
    border-style: solid;
    border-color: #00b3ea transparent;
}

/* ===========================================================================
    Title: Group Management
    Author: Marcin
    Date: 2016.3.2
  ===========================================================================*/
.manage-group{
    padding: 0 8px;
}  
.manage-group .groups-2{
    background: #f6f9fb;    
    padding: 0;
    border: 1px solid #e7eaec;
}
.manage-group .groups-2 .group-2.opened{
    background: #fff;
}
.manage-group .groups-2 .group-2 h3{
    height: 50px;
    margin: 0 8px;
    border-bottom: none;
}
.manage-group .groups-2 .group-2.opened h3{
    border-bottom: 1px solid #E7EAEC;
}
.manage-group .groups-2 .group-2 h3 i.icon-group{
    top: 0;
    left: 4px;
    height: 50px;
}  
.icon-subscription{
    background: url('../images/icons/group-manage-icon.png') no-repeat 0 0;
}
.icon-membership{
    background: url('../images/icons/group-manage-icon.png') no-repeat 0 -50px;
}
.icon-payment{
    background: url('../images/icons/group-manage-icon.png') no-repeat 0 -100px;   
}
.icon-permission{
    background: url('../images/icons/group-manage-icon.png') no-repeat 0 -150px;   
}
.icon-micropetition{
    background: url('../images/icons/group-manage-icon.png') no-repeat 0 -200px;   
}
.icon-manageGroup{
    background: url('../images/icons/group-manage-icon.png') no-repeat 0 -250px;   
}
.icon-invites{
    background: url('../images/icons/group-manage-icon.png') no-repeat 0 -300px;   
}
.icon-section{
    background: url('../images/icons/group-manage-icon.png') no-repeat 0 -350px;   
}
.icon-profileSetup{
    background: url('../images/icons/group-manage-icon.png') no-repeat 0 -400px;
}
.subscription-level{
    width: 100%;
    display: inline-block;
    color: #708186;
}
.subscription-header{
    width: 50%;
    display: block;
    margin: 30px auto;
}
.subscription-header span{
    width: 100%;
    clear: both;
    display: inline-block;
    text-align: center;
}
.subscription-header span.date{
    font-size: 12px;
}
.subscription-header span.cancel{
    color: #b30b2b;
    font-size: 14px;
}
.subscriptions{
    width: 95%;
    margin: 0 auto;
    display: block;
}
.subscription{
    width: 20%;
    float: left;
    padding: 0 3px;
}
.subscription .membership{
    background: url("../images/price.png") no-repeat scroll 0% 0% / 100% auto transparent;
    width: 80%;
    padding-top: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}
.subscription .membership span.type{
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    width: 100%;
    text-align: center;
    font-size: 14px;
}
.subscription .membership span.price{
    color: #fff;
    clear: both;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.subscription .info{
    background: #f2f9ff;
    border: 1px solid #eef3f5;
    position: relative;
    padding: 35px 3px;
    top: -30px;
    z-index: 1;
}
.subscription .info span{
    font-size: 12px;
    width: 100%;
    text-align: center;
    display: inline-block;
}
.subscription .info span.title{
    color: #000066;
    font-weight: bold;
    font-size: 13px;
}
.subscription .select-btn{
    background: #54c5ff;
    border: none;
    color: #fff;
    margin: 0 auto;
    display: table;
    position: relative;
    z-index: 10;
    top: -45px;
}
.membership-control{
    width: 200px;
    position: relative;
    margin: 20px 50px;
}
.manage-group select{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #eae5e5;
    color: #636363;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    font-size: 14px;
}
.selectBox::after{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0px;
    border-style: solid;
    border-color: #00b3ea transparent;   
}
.payment-setup{
    width: 90%;
    display: inline-block;
    margin: 30px 5%;
}
.payment-option{
    width: 50%;
    padding: 0 10px;
    float: left;
}
.payment-option span{
    font-size: 14px;
    color: #636363;
}
.payment-option .input-field i{
    color: #636363;
    float: left;
    width: 15px;
}
.payment-option .input-field input{
    float: left;
    background: transparent;
    border: none;
    width: calc(100% - 15px);
    line-height: 18px;
    font-size: 14px;
}
.payment-option .input-field{
    width: 100%;
    height: 40px;
    background: #f2f1f1;
    border: 1px solid #eae5e5;
    padding: 10px;
    margin: 5px 0;
    position: relative;
}
.payment-option .edit{
    font-size: 12px;
    color: #54c5ff;
    font-weight: bold;
}
.payment-option .edit i{
    margin-right: 5px;
}
.payment-option .input-field .remove{
    font-size: 12px;
    float: right;
    color: #d1241a;
    position: absolute;
    right: 10px;
    top: 11px;
    font-weight: bold;
}
.group-permissions{
    width: 90%;
    margin: 20px 5%;
    display: inline-block;
}
.group-permissions p.permission{
    width: 200px;
    float: left;
    margin-bottom: 10px;
}
.group-permissions p.permission:nth-child(odd){
    clear: both;
}
.group-permissions p.permission input[type="checkbox"] {
    display: none;
}
.group-permissions label{
    font-size: 14px;
    color: #636363;
    font-weight: normal;
}
.group-permissions input[type="checkbox"] + label:before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 1px solid #636363;
    display: inline-block;
    margin-right: 5px;
    color: #636363;
    vertical-align: middle;
}
.group-permissions input[type="checkbox"]:checked + label:before {
    content: "✔";
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 1px solid #636363;
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
    text-align: center;
    color: #636363;
}
.post-settings{
    width: 90%;
    margin: 20px 5%;
    display: inline-block;    
}
.post-settings span{
    font-size: 14px;
    color: #636363;
    float: left; 
    line-height: 40px;
    width: 250px;
    clear: both;
    margin-bottom: 10px;   
}
.post-settings .selectBox{
    width: 60px;
    float: left;
    position: relative;
    height: 40px;
    margin-bottom: 10px;
}
.invites{
    width: 90%;
    margin: 20px 5%;
    position: relative;
}
.invites input{
    border: 1px solid #eae5e5;
    width: 100%;
    display: inline-block;
    height: 40px;
    padding: 10px;
    font-size: 14px;
}
.invites .btn.send-btn{
    position: absolute;
    right: 10px;
    color: #fff;
    background: #54c5ff;
    top: 5px;
    border: none;
    width: 70px;
    font-size: 12px;
    font-weight: bold;
}
.group-users{
    width: 90%;
    margin: 20px 5%;
    display: inline-block;
    font-size: 13px;
    color: #636363;
}
.group-users-header{
    width: 100%;
    height: 40px;
}
.group-users-header span{
    line-height: 40px;
    text-align: center;
}
.group-users-header span.approve{
    color: #1cbc37;
}
.group-users-header span.reject{
    color: #bd352d;
}
.group-users ul li{
    height: 50px;
    clear: both;
}
.group-users ul li div{
    height: 50px;
    display: table;
    float: left;
    table-layout: fixed;
}
.group-users ul li:nth-child(odd){
    background: #f3f3f3;
}
.group-users ul li span, .group-users ul li a{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #636363;
}
.group-users .id{
    width: 5%;
    float: left;
}
.group-users .name{
    width: 10%;
    float: left;
}
.group-users .email{
    width: 40%;
    float: left;
}
.group-users span.approve, .group-users .approve-btn{
    width: 35%;
    float: left;
}
.group-users span.reject, .group-users .remove-btn{
    width: 10%;
    float: left;
}
.group-users{
    width: 90%;
    margin: 20px 5%;
    display: inline-block;
    font-size: 13px;
    color: #636363;
}
.sub-groups{
    width: 90%;
    margin: 20px 5%;
    display: inline-block;
    font-size: 13px;
    color: #636363;   
}
.new-group-section{
    font-size: 13px;
    color: #54c5ff;
}
.new-group-section i{
    margin-right: 5px;
}
.sub-group{
    margin: 20px 0;
    display: inline-block;
    width: 100%;
}
.sub-group h5{
    color: #636363;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}
.sub-group ul li{
    width: 100%;
    height: 40px;
    display: inline-block;
    color: #708186;
}
.sub-group ul li:nth-child(odd){
    background: #f3f3f3;
}
.sub-group ul li div{
    height: 40px;
    float: left;
    display: table;
}
.sub-group ul li div span{
    display: table-cell;
    vertical-align: middle;
}
.sub-group ul li .name{
    width: 30%;
    float: left;
    padding-left: 10px;
}
.sub-group ul li .email{
    width: 70%;
    float: left;
}
.profile-setup{
    width: 90%;
    margin: 10px 5%;
    display: inline-block;
    font-size: 13px;
    color: #636363;
}
.profile-image{
    width: 100%;
}
.profile-image img{
    width: 100px;
    height: 100px;
    float: left;
}
.profile-image .image-upload{
    width: calc(100% - 100px);
    height: 100px;
    padding: 15px 20px;
    float: left;
}
.profile-image .image-upload span{
    font-weight: bold;
}
.image-upload{
    width: 90%;
    position: relative;
}
.image-upload input{
    border: 1px solid #eae5e5;
    width: 100%;
    display: inline-block;
    height: 40px;
    padding: 10px;
    font-size: 14px;
}
.image-upload .btn.upload-btn{
    position: absolute;
    right: 25px;
    color: #fff;
    background: #54c5ff;
    top: 40px;
    border: none;
    width: 70px;
    font-size: 12px;
    font-weight: bold;
}
.profile-infos{
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}
.profile-infos input{
    background: #f2f1f1;
    border: 1px solid #eae5e5;
    padding: 10px;
    margin-bottom: 10px;
}
.profile-infos input.half, .profile-infos .selectBox{
    width: calc(50% - 5px);
    margin-bottom: 10px;
    height: 40px;
    position: relative;
}
.profile-infos input.full{
    width: 100%;
}
.profile-setup .save-btn{
    border: none;
    background: #54c5ff;
    color: #fff;
    padding: 6px 20px;
    float: right;
}

/* ===========================================================================
    Title: Group Create
    Author: Marcin
    Date: 2016.3.4
  ===========================================================================*/

.group-create-steps{
    width: 80%;
    display: table;
    margin: 50px auto 10px;
    color: #708186;
    font-size: 14px;
}
.group-create-steps ul{
    width: 100%;
    display: inline-block;
}
.group-create-steps ul li{
    width: 33.33%;
    float: left;
    text-align: center;
}
.group-create-steps .progress-bar{
    background: none repeat scroll 0% 0% #FFF;
    box-shadow: 0px 2px 2px #E9E9E9 inset;
    width: 66.67%;
    height: 10px;
    float: none;
    margin: 0px auto;
}
.group-create-steps .progress-bar img{
    position: relative;
    top: -3px;
}
.group-creation{
    display: inline-block;
    width: 100%;
    background: #fff;
    color: #708186;
}
.group-creation h1{
    font-size: 20px;
    text-align: center;
    margin: 30px 0 20px;
}
.group-creation fieldset{
    width: 60%;
    position: relative;
    display: block;
    margin: 30px auto 0;
}
.group-creation fieldset:last-child{
    margin-bottom: 30px;
}
.group-creation .input-label{
    color: #000066;
    font-size: 14px;
    width: 100%;
    float: left;
}
.group-creation input{
    background: #f2f1f1;
    width: 100%;
    clear: both;
    border: 1px solid #cecece;
    padding: 5px 10px;
    font-size: 14px;
    margin-bottom: 15px;
}
.group-creation .note{
    margin-bottom: 10px;
}
.group-creation .note span{
    font-size: 13px;
    margin-left: 5px;
}
.group-creation .hide-password{
    position: absolute;
    float: right;
    right: 5px;
    height: 25px;
    font-size: 12px;
    padding: 0 10px;
    margin-top: 4px;
    border-radius: 0;
    color: #636363;
}
.group-creation .selectBox{
    width: 100%;
    clear: both;
    margin-bottom: 15px;
    position: relative;
}
.group-creation .selectBox select{
    background: #f4f9fd;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #cecece;
    color: #636363;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    font-size: 14px;
}
.group-creation .selectBox::after{
    border-color: #647378 transparent;
}
.group-creation .interests ul, .group-creation .sel-interests ul{
    width: 100%;
    display: inline-block;
}
.group-creation .sel-interests{
    margin-top: 10px;
}
.group-creation .interests ul li{
    width: auto;
    float: left;
    color: #54c5ff;
    border: 1px solid #54c5ff;
    margin: 5px;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
}
.group-creation .interests ul li:hover{
    background: #54c5ff;
    color: #fff;
}
.group-creation .sel-interests ul li{
    width: auto;
    float: left;
    color: #fff;
    background: #54c5ff;
    margin: 5px;
    padding: 5px 10px;
    font-size: 12px;
}
.group-creation .sel-interests ul li i{
    font-weight: normal;
    margin-left: 5px;
    cursor: pointer
}
.group-creation h4{
    color: #000066;
    font-size: 18px;
    margin-bottom: 5px;
    text-align: left;
}
.group-creation span.interests-txt{
    font-size: 12px;
    color: #54c5ff;
    display: inline-block;
    line-height: 1;
}
.group-creation .own_interest {
    width: calc(100% - 90px);
    float: left;
}
.group-creation .add-interest{
    width: 80px;
    float: left;
    margin-left: 10px;
    background: #54c5ff;
    color: #fff;
    border: none; 
}
.skip-buttons .next-btn{
    background: #28b74d;
    color: #fff;
    border: none;
    float: right;
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
}
.skip-buttons .next-btn i{
    margin-left: 5px;
}
.skip-buttons .prev-btn{
    background: #acb3b8;
    color: #fff;
    border: none;
    float: left;
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
}
.skip-buttons .prev-btn i{
    margin-right: 5px;
}
.tier-selection-header{    
    width: 50%;
    display: table;
    margin: 0 auto;
}
.tier-selection-header span{
    font-size: 12px;
    text-align: center;
    width: 100%;
    display: inline-block;    
}
.tier-selection-header a.option{
    background: #f2f9ff;
    width: 50%;
    float: left;
    border: 1px solid #ebebeb;
    color: #708186;
    text-align: center;
    padding: 4px 10px;
    font-size: 14px;
    position: relative;
}
.tier-selection-header a.option.active{
    background: #54c5ff;
    color: #fff;
    border: 1px solid #54c5ff;
}
.tier-selection-header a.option.active::after{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    right: 0px;
    top: 28px;
    left: calc(50% - 5px);
    border-width: 10px 10px 0px;
    border-style: solid;
    border-color: #54c5ff transparent;
}
.group-creation .subscriptions{
    margin-top: 30px;
}
.group-creation .subscription{
    height: 820px;
}
.group-creation .subscription .membership{
    width: 70%;
    padding-top: 70%;
}
.group-creation .subscription .membership span.type{
    top: 45px;
    font-size: 24px;
}
.group-creation .subscription .membership span.price{
    top: 70px;
    font-size: 16px;
}
.group-creation .subscription .info{
    top: -60px;
    padding: 60px 0px 20px;
    height: 690px;
}
.group-creation .subscription .info span.title{
    font-size: 20px;
    margin-bottom: 10px;
}
.group-creation .subscription .info img{
    margin: 10px auto;
    display: block;
}
.group-creation .subscription .info fieldset{
    width: 100%;
    padding: 5%;
    margin-top: 0;
    border-bottom: 1px solid #e1e9f0;
}
.group-creation .subscription .info fieldset:last-of-type{
    border-bottom: none;
}
.group-creation .subscription .info fieldset span{
    margin-bottom: 10px;
}
.group-creation .subscription .info fieldset span.value{
    line-height: 1;
    display: block;
    margin: 0;
}
.group-creation .subscription .info fieldset h4{
    font-size: 12px;
    font-weight: bold;
    color: #708186;
}
.group-creation .subscription .info fieldset ul li{
    font-size: 12px;
    padding: 2px 0;
}
.group-creation .subscription .info fieldset ul li:before{
    content: '✔';
    color: #28b74d;
    margin-right: 5px;
}
.group-creation .subscription .info .more-btn{
    color: #708186;
    font-size: 14px;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
}
.group-creation .subscription .info .more-btn i{
    margin-left: 5px;
}
.group-creation .subscription .select-btn{
    top: -75px;
    font-weight: bold;
    padding: 8px 15px;
    font-size: 13px;
}
.group-creation .subscription.active .info{
    background: #fffff2;
    border: 1px solid #e7e7d1;
}
.group-creation .subscription.active .select-btn{
    background: #f0912a;
}
.group-creation.creation2{
    padding-bottom: 30px;
}
.group-creation.creation2 p.note{
    width: 95%;
    margin: 0 auto;
    display: block;
    font-size: 12px;
    margin: 0 auto;
}
.group-creation .payment-steps{
    width: 70%;
    display: inline-block;
    float: left;
    padding: 0 20px;
}
.group-creation .step-infos{
    width: calc(30% - 20px);
    display: inline-block;
    float: left;
    border: 1px solid #dbe6ea;
    min-height: 300px;
    margin-top: 40px;
}
.payment-steps .tab-content{
    border: 1px solid #dbe6ea;
    border-top: none;
    min-height: 300px;
}
.payment-steps .tab-content fieldset{
    margin-top: 0;
    width: 100%;
    padding: 20px 30px;
}
.payment-steps .nav-tabs > li > a{
    border-radius: 0;
    font-size: 13px;
    padding: 10px 25px;
    background: #c3cdd4;
    color: #fff;
}
.payment-steps .nav-tabs > li > a i{
    color: #b2bfc8;
    margin-right: 5px;
}
.payment-steps .nav-tabs > li.active > a, 
.payment-steps .nav-tabs > li.active > a:hover, 
.payment-steps .nav-tabs > li.active > a:focus{
    background: #fff;
    color: #708186;
}
.payment-steps .nav-tabs > li.active > a i, 
.payment-steps .nav-tabs > li.active > a:hover i,
.payment-steps .nav-tabs > li.active > a:focus i{
    background: #fff;
    color: #708186;
}
.payment-steps .payment-field{
    width: 50%;
    float: left;
    padding: 0 15px;
}
.payment-steps .payment-field.sub-field{
    width: 33.33333%;
    float: left;
}
.group-creation .payment-steps .selectBox select{
    height: 32px;
    padding: 5px 10px;
}
.group-creation.creation3 fieldset:last-child{
    margin-bottom: 0;
}
.group-creation .payment-steps .next-btn{
    background: #28b74d;
    border: none;
    color: #fff;
    float: right;
    margin-top: 10px;
    font-size: 12px;
    padding: 7px 20px;
    font-weight: bold;
}
.group-creation .payment-steps .next-btn i{
    margin-left: 10px;
}
.group-creation .payment-steps .prev-btn{
    background: #acb3b8;
    color: #fff;   
    margin-top: 10px;
    float: left;
    margin-top: 10px;
    font-size: 12px;
    padding: 7px 20px;
    font-weight: bold;
}
.group-creation .payment-steps .prev-btn i{
    margin-right: 10px;
}
.step-infos .bill-info h4{
    background: #f0f3f5;
    padding: 20px 10px;
    text-align: center;
    font-size: 14px;
    color: #708186;
}
.step-infos .bill-info .info-content{
    font-size: 12px;
    padding: 20px;    
}
.step-infos .bill-info .info-content img{
    width: 35px;
    float: left;
}
.step-infos .bill-info .info-content .checkout{
    width: calc(100% - 35px);
    float: left;
    padding-left: 10px;
}
.step-infos .bill-info .info-content .checkout .change-btn{
    margin-left: 5px;
    color: #54c5ff;
    text-decoration: underline;
}
.payment-steps .payment-detail{
    padding: 20px 30px;
}
.payment-steps .payment-detail fieldset{
    border-bottom: 1px solid #dbe6ea;
    padding: 10px 0;
}
.payment-steps .payment-detail fieldset .payment-type{
    width: 100%;
    float: left;
    margin: 10px 0;
    color: #708186;
}
.payment-steps .payment-detail fieldset .payment-type img{
    margin-right: 5px;
}
.payment-steps .payment-detail fieldset .payment-field input{
    background: url(../images/icons/lock.png) no-repeat left 10px center;
    background-color: #F2F1F1;
    padding-left: 30px;
}
.payment-steps .payment-field.col-md-8{
    width: 66.6667%;
}
.payment-steps .payment-field.col-md-4{
    width: 33.3333%;
}
.group-creation .selectBox.col-md-4{
    width: 33.3333%;
    clear: none;
    float: left;
    padding: 0;
    margin-right: 10px;
}
.payment-steps .bank-scanner{
    margin: 0 auto 20px;
    display: table;
    position: relative;
    top: 10px;
}
.payment-steps .payment-detail fieldset:last-child{
    border-bottom: none;
}
.bill-info .info-content .checkout span{
    clear: both;
    float: left;
}
.step-infos .bill-info .info-content .checkout-progress,
.payment-steps .review-confirm .info-content .checkout-progress{
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}
.payment-steps .review-confirm .info-content{
    display: inline-block;
    width: 100%;
    font-size: 12px;
}
.review-confirm .info-content img{
    float: left;
}
.review-confirm .info-content .checkout{
    width: calc(100% - 35px);
    float: left;
    padding-left: 10px;
}
.review-confirm .info-content .checkout .change-btn{
    margin-left: 5px;
    color: #54c5ff;
    text-decoration: underline;
}
.review-confirm .info-content .checkout span{
    clear: both;
    float: left;
}
.pay-info{
    padding: 20px;
    color: #708186;
    position: relative;
    height: 300px;
}
.pay-info h4{
    font-size: 16px;
    font-weight: bold;
    color: #708186;
}
.pay-info p{
    margin: 20px 0;
    font-size: 14px;
}
.pay-info img{
    display: table;
    margin: 0 auto;
}
.pay-info .links{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.pay-info .links a{
    font-size: 12px;
    color: #c0c6c8;
}
.location_info{
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}
.location_info ul li{
    display: table;
    margin: 0 5px 5px 0;
    padding: 3px;
    box-shadow: 0 0 3px #999;
    float: left;
    width: 54px;
    height: 54px;    
    background: #54c5ff;
    border: 3px solid #fff;
    text-align: center;
}
.location_info ul li a{
    display: table-cell;
    vertical-align: middle;
    line-height: 1;
    color: #fff;
}