<div class="postFieldWrapper" >

    <div class="tabs home-tabs" style="margin-top:0px;">
        <ul>
            <li ng-class="{'active':data.tag_type==tag_types[0]}" ng-click="data.tag_type=tag_types[0]"><a href="javascript:;" ><i class="icon pencilIcon"></i></a></li>
            <li ng-class="{'active':data.tag_type==tag_types[1]}" ng-click="data.tag_type=tag_types[1]"><a href="javascript:;" ><i class="icon paperPenIcon"></i></a></li>
            <li ng-class="{'active':data.tag_type==tag_types[2]}" ng-click="data.tag_type=tag_types[2]"><a href="javascript:;" ><i class="icon chartIcon"></i></a></li>
            <li ng-class="{'active':data.tag_type==tag_types[3]}" ng-click="data.tag_type=tag_types[3]"><a href="javascript:;" ><i class="icon chatIcon"></i></a></li>
            <li ng-class="{'active':data.tag_type==tag_types[4]}" ng-click="data.tag_type=tag_types[4]"><a href="javascript:;" ><i class="icon fundIcon"></i></a></li>
            <li ng-class="{'active':data.tag_type==tag_types[5]}" ng-click="data.tag_type=tag_types[5]"><a href="javascript:;" ><i class="icon eventIcon"></i></a></li>
            <li ng-class="{'active':data.tag_type==tag_types[6]}" ng-click="data.tag_type=tag_types[6]"><a href="javascript:;" ><i class="icon announIcon"></i></a></li>
        </ul>
    </div>

    <div class="tabContainer">
        <div ng-show="data.tag_type==tag_types[0]" class="post tabContainerField">
            <ng-include src="'templates/home/forms/post.html'"></ng-include>
        </div>
        <div ng-show="data.tag_type==tag_types[1]" class="petition tabContainerField">
            <ng-include src="'templates/home/forms/petition.html'"></ng-include>
        </div>
        <div ng-show="data.tag_type==tag_types[2]" class="poll tabContainerField">
            <ng-include src="'templates/home/forms/poll.html'"></ng-include>
        </div>
        <div ng-show="data.tag_type==tag_types[3]" class="discussion tabContainerField">
            <ng-include src="'templates/home/forms/discussion.html'"></ng-include>
        </div>
        <div ng-show="data.tag_type==tag_types[4]" class="fundraiser tabContainerField">
            <ng-include src="'templates/home/forms/fundraiser.html'"></ng-include>
        </div>
        <div ng-show="data.tag_type==tag_types[5]" class="event tabContainerField">
            <ng-include src="'templates/home/forms/event.html'"></ng-include>
        </div>
        <div ng-show="data.tag_type==tag_types[6]" class="tabContainerField">
            <ng-include src="'templates/home/forms/announcement.html'"></ng-include>
        </div>
    </div>

</div>
             
<div class="wrap-center" style="position: static;padding-top: 50px;" ng-show="loading"><spinner></spinner></div>
<p class="info-message" ng-show="!loading && !activities.length && !filter.selectedGroup">
    Hmm - Your newsfeed is empty! Looks like a great opportunity to take a stand, start a discussion,
    or improve your community by creating a post or petition.
</p>

<section ng-show="!loading" 
         ng-style="{'height': (minContentHeight - 134)}"
         class="activity-list-wrap" 
         ng-include=" 'templates/home/activities.html' ">
</section>